<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <h3><i class="fa-solid fa-compass"></i> Velvet Bookings</h3>
        <p>Hotels, Tours, Memories — All in One Place.</p>
      </div>
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="https://www.instagram.com/">Instagram <i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/">Facebook <i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://x.com/i/flow/login">X (formerly Twitter) <i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h4>Contact Us <i class="fa-solid fa-tty"></i></h4>
        <p>Email: support@velvetbookings.com</p>
        <p>Phone: +011-265-6576</p>
        <p>Address: 3rd Floor, Connaught Place, <br/>New Delhi-110001, India</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Velvet Bookings.pvt limited - All rights reserved.</p>
    </div>
  </div>
</footer>