<%layout("/layouts/boilerplate.ejs")%>
<div class="alert alert-danger col-8 offset-2 mt-3 text-center" role="alert">
    <h6 class="alert-heading"> Error Code: <i class="fa-solid fa-triangle-exclamation"></i> <%=status%> <br/><%= message %> </h6>
</div>