<%layout("/layouts/boilerplate.ejs")%>
<br/>
<br/>
 <div class="row" id="signupbox">
        <div class="col-4 offset-4">
    <h3 id="signup">Login in Velvet Bookings <i class="fa-solid fa-right-to-bracket"></i></h3>
    <br/><br/>
    <form method="POST" action="/login" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username <i class="fa-solid fa-circle-user"></i></label>
            <input name="username" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please enter the username</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password <i class="fa-solid fa-key"></i></label>
            <input name="password" type="password" class="form-control" required/>
            <div class="invalid-feedback">Please enter a password</div>
        </div>
        <br/>
        <div>
             <button class="btn btn-dark add-btn">Login</button> <a href="/signup" class="btn btn-dark">Not registered yet? Signup</a>
        </div>
        <br/><br/>
    </form>
</div>
</div>
<br/><br/>