<%layout("/layouts/boilerplate.ejs")%>
<br/>
<br/>
 <div class="row" id="signupbox">
        <div class="col-4 offset-4">
    <h3 id="signup">SignUp/Register as New User <i class="fa-solid fa-user-plus"></i></h3>
    <br/>
    <form method="POST" action="/signup" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username <i class="fa-solid fa-circle-user"></i></label>
            <input name="username" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please enter the username</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email ID <i class="fa-solid fa-envelope"></i></label>
            <input name="email" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please enter your Email ID</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password <i class="fa-solid fa-key"></i></label>
            <input name="password" type="password" class="form-control" required/>
            <div class="invalid-feedback">Please enter a password</div>
        </div>
        <div>
            <button class="btn btn-dark add-btn">Sign Up</button> <a href="/login" class="btn btn-dark">Already a user? Login</a>
        </div>
        <br/><br/>
    </form>
</div>
</div>
<br/><br/>